body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.center {
    margin: 0 auto;
    width: 60%;
}

.cityHelper {
    cursor: pointer;
}

.backColor {
    background-color: #00d6b2;
    height: 300px;
}

.menu {
    background-color: #CDDC39 !important;
    height: 50px;
    margin-bottom: 2px;
}


.menuButton {
    padding: 5px;
    margin: 0 10px 0 10px;
    float: left;
}

.flights {
    padding-top: 20px;
}

.searchForm {
    display: inline-block;
    padding: 30px;
}

.searchButton {
    margin-left: 60px;
}
.datePicker {
    display: inline-block;
    padding: 0 10px 0 10px;
}

.inputText {
    display: inline-block;
    padding: 0 10px 0 10px;
    text-align: center;
}

.searchBlock {
    padding-top: 0;
}

.loadingBox {
    margin: 0 auto;
    padding: 120px 0 0 0;
    width: 80px;
    height: 80px;
}

.flightItem {
    width: 32%;
    float: left;
    margin: 7px;
    padding: 10px 18px 10px 0;
    cursor: pointer;
}

.flightItem:hover {
    background-color: #00e8c3 !important;
    transition: background-color 500ms linear !important;
}

.flightPrice {
    width: 52%;
    text-align: center;
    font-size: x-large;
}

.flightInfo {
    width: 100%;
}